# Ignore IntelliJ project files
.idea/
*.iml

# Ignore Python cache files after running tests
*/__pycache__/

# Ignore all bazel-* symlinks. There is no full list since this can change
# based on the name of the directory bazel is cloned into.
/bazel-*
